<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.nick.ollama-publisher-watchdog</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/nick/projects/fuseddistribution/scripts/ollama-publisher-watchdog.sh</string>
  </array>
  <key>StartInterval</key>
  <integer>300</integer>
  <key>RunAtLoad</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>ThrottleInterval</key>
  <integer>60</integer>
  <key>StandardOutPath</key>
  <string>/Users/nick/Library/Logs/ollama-publisher-watchdog.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/nick/Library/Logs/ollama-publisher-watchdog.log</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>OLLAMA_WATCHDOG_MODEL</key>
    <string>gemma3:1b</string>
    <key>OLLAMA_WATCHDOG_QUEUE_START_DATE</key>
    <string>2026-09-03</string>
  </dict>
</dict>
</plist>
